* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    padding: 2rem;
}

button {
    width: max-content;
}

.show {
    display: grid;

    &#init-options {
        display: block;
    }
}